* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body is the background color for the page */
body {
  background-color: #d9dcd6;
}

/* header, header h1, header, h1 .seo, header nav, header nav ul, and header nav ul li are the formatting for the main logo and the navbar section of the page */
/* switched header class with header element */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* switched header class with header element */
header h1 {
  display: inline-block;
  font-size: 48px;
}

/* switched header class with header element */
header h1 .seo {
  color: #d9dcd6;
}

/* switched header class with header element */
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* switched header class and div element with header and nav elements */
header nav ul {
  list-style-type: none;
}

/* switched header class and div element with header and nav elements */
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* a is the formatting for all web address links on the page */
/* switched header class and div element with header and nav elements */
a {
  color: #ffffff;
  text-decoration: none;
}

/* p is the formatting for each paragraph of text on the page */
p {
  font-size: 16px;
}

/* figure is the formatting for the main image on the page located under the navbar */
/* switched hero class with figure element */
figure {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* float-left and float-right are used to position the images in the main content section of the page */
.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/* main, main section, main section img, and main section h2 format the area where the main content of the page is and also allows for spacing for the aside */
/* switched content class with main element */
main {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* changed search engine optimization, online reputation management, and social media marketing into section element */
main section {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* changed search engine optimization, online reputation management, and socail media marketing classes to single img and section element  */
main section img {
  max-height: 200px;
}

/* changeed h2 classes to just section element and h2 */
main section h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* aside, aside section, aside section h3, and aside section img are the formatting for the aside section found just to the right of the main content */
/* switched benefits class with aside */
aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* change benefit lead, benefit brand, and benefit cost classes into single section element */
aside section {
  margin-bottom: 32px;
  color: #ffffff;
}

/* change h3 classes to single h3 and section element */
aside section h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* changeed 3 img classes to single img and section element */
aside section img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* footer and footer h2 format the section on the bottom of the page where the copyright information is  */
/* switched footer class with footer element */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
